.App {
  display: flex;
  align-items: center;
  margin: 10% auto;
}

.display {
  width: 18rem;
  height: 4.5rem;
  border: 10px solid #4f5f6d;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

/* .container-fluid{
 
  
} */
